<h2> CUSTOMERS </h2>

<app-customer-modal (close)="getCustomers()">Add Customer</app-customer-modal>
<app-customer-search (searchOutput)="searchCustomer($event)"></app-customer-search>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" (click)="sortOrder='name'; sortByString()">Name</th>
            <th scope="col" (click)="sortOrder='surname'; sortByString()">Surname</th>
        </tr>
    </thead>

    <tbody>
        <tr 
        *ngFor="let customer of CUSTOMERS"
        routerLink="{{customer._id}}"> 
            <th scope="row"> {{ (CUSTOMERS.indexOf(customer) +1) }}</th>
            <td> {{customer.name | titlecase}} </td>
            <td> {{customer.surname | titlecase}} </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="customers.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCustomers()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCustomers()">
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="customers.length">Show All</option>
    </select>
</div>