<h2> CUSTOMERS </h2>

<app-customer-modal (close)="getCustomers()">Add Customer</app-customer-modal>
<app-customer-search (searchOutput)="searchCustomer($event)"></app-customer-search>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" (click)="sortOrder='name'; sortByString()">Name</th>
            <th scope="col" (click)="sortOrder='surname'; sortByString()">Surname</th>
        </tr>
    </thead>

    <tbody>
        <tr 
        *ngFor="let customer of customers"
        routerLink="{{customer._id}}"> 
            <th scope="row"> {{ (customers.indexOf(customer) +1) }}</th>
            <td> {{customer.name | titlecase}} </td>
            <td> {{customer.surname | titlecase}} </td>
        </tr>
    </tbody>
</table>
