<div class="detail-wrapper">

    <div class="detail-title">
        <h2> CUSTOMERS </h2>
</div>
<!-- HEADER BUTTONS -->
<div class="detail-buttons">
    <app-customer-modal (close)="refreshCustomers()">Add Customer</app-customer-modal>
    <button class="btn btn-secondary open-search" (click)="showSearch()"> <img src="../../assets/filter.svg"></button>
    <button *ngIf="searched" type="button" class="btn btn-danger reload-button" style="float : right"
    (click)="this.getCustomers()">↻</button>
</div>

</div>
<!-- SEARCH FORM -->

    <div class="form-wrap" *ngIf="this.showFilters">

        <div class="search-form-title">
            <h3>Filters</h3>
        </div>

        <div class="form-body">

            <form>

               <!--search using searchfilter-->

            </form>
        </div>

        <div class="search-form-title">
            <button type="button" class="btn btn-primary filter" name="search" (click)="searchCustomer()">Filter</button>
        </div>
    </div>

<!-- TABLE -->
<table class="table table-striped table-hover list-table">
    <thead>
        <tr ngbTooltip="Click on any category to sort elements." openDelay="1000">
            <th scope="col">#</th>
            <th scope="col" (click)="this.sortParameter='name'; this.sortByString()">Name <span *ngIf="this.sortParameter==='name'">{{this.arrow}}</span></th>
            <th scope="col" (click)="this.sortParameter='surname'; this.sortByString()">Surname <span *ngIf="this.sortParameter==='surname'"> {{this.arrow}}</span></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let customer of customers.slice(this.skip, this.limit)" routerLink="{{customer?._id}}">
            <th scope="row"> {{ (customers.indexOf(customer) +1) }}</th>
            <td> {{customer?.name | titlecase}} </td>
            <td> {{customer?.surname | titlecase}} </td>
        </tr>
    </tbody>
</table>

<!-- PAGINATION CONTROLS -->
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="pag.pageNo" [pageSize]="pag.size" (pageChange)="getCustomers()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pag.size" (ngModelChange)="getCustomers()">
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div>