<h2> RENTALS </h2>

<app-rental-modal (close)="refreshRentals()">Add Rental</app-rental-modal>
<app-rental-search (searchOutput)="searchRental($event)"></app-rental-search>

<table class="table table-striped table-hover">
     <thead>
     <tr>
          <th scope="col">#</th>
          <th scope="col" (click)="sortByCar()">Car</th>
          <th scope="col" (click)="sortByCustomer()">User</th>
          <th scope="col">Dates</th>
     </tr>
     </thead>

     <tbody>
     <tr *ngFor="let rental of rentals"
     routerLink="{{rental._id}}">
      <th scope="row">{{rentals.indexOf(rental) +1 }}</th>
      <td> {{rental.car.model | titlecase}} {{rental.car.maker | titlecase}} </td>
      <td> {{rental.customer.name | titlecase}} {{rental.customer.surname | titlecase}} </td>
      <td> from     {{rental.startDate | date :'dd/MM/yyyy'}}
           to  {{rental.endDate | date :'dd/MM/yyyy'}} </td>
     </tr>
     </tbody>
</table>

<div class="d-flex justify-content-between p-2">
     <ngb-pagination [collectionSize]="collectionSize" [(page)]="pagination.pageNo" [pageSize]="pagination.size" (pageChange)="getRentals(this.pagination)">
     </ngb-pagination>
   
     <select class="custom-select" style="width: auto" [(ngModel)]="pagination.size" (ngModelChange)="getRentals(this.pagination)">
       <option [ngValue]="4">4 items per page</option>
       <option [ngValue]="6">6 items per page</option>
       <option [ngValue]="">Show All</option>
     </select>
   
   </div>
