<div class="detail-wrapper">

     <div class="detail-title">
          <h2> RENTALS </h2>
     </div>
<!--HEADER BUTTONS -->
     <div class="detail-buttons">
          <app-rental-modal (close)="refreshRentals()">Add Rental</app-rental-modal>
          <button class="btn btn-secondary open-search" (click)="showSearch()"> <img src="../../assets/filter.svg"></button>
          <button *ngIf="searched" type="button" class="btn btn-danger reload-button" style="float : right"
        (click)="this.refreshRentals()">↻</button>
     </div>

</div>
<!--SEARCH FORM -->
<div class="form-wrap" *ngIf="this.showFilters">
     
     <div class="search-form-title">
       <h3>Filters</h3> 
     </div>
 
     <div class="form-body">
      
       <form>
         
         <div class="entry">
          
          <label for="car">Car Search</label>
          <select name="car" class="form-control" [(ngModel)]="searchOptions.car">
               <option value=undefined selected hidden disabled> Select a car</option>
               <option *ngFor="let entry of cars" [value]="entry._id">{{entry.maker | titlecase}} {{entry.model | titlecase}}</option>
          </select>
         </div>

        <div class="entry">

          <label for="customer">Customer Search</label>
          <select name="customer" class="form-control" [(ngModel)]="searchOptions.customer">
               <option value=undefined selected hidden disabled> Select a customer </option>
               <option *ngFor="let entry of customers" [value]="entry._id">{{entry.name | titlecase}} {{entry.surname | titlecase}}</option>
          </select>

         </div>

       </form>
     </div>

     <div class="search-form-title">
          <button type="button" class="btn btn-primary filter" name="search" (click)="searchRental()">Filter</button>
        </div>
      </div>
<!-- TABLE -->

<table class="table table-striped table-hover list-table">
     <thead>
     <tr ngbTooltip="Click on any date category to sort elements." openDelay="1000">
          <th scope="col">#</th>
          <th scope="col">Car </th>
          <th scope="col">User </th>
          <th scope="col" (click)="sortByDate()">Start Date <span *ngIf="this.sortParameter === 'startDate'">{{this.arrow}} </span> </th>
          <th scope="col" (click)="sortByEnd()">End Date <span *ngIf="this.sortParameter === 'endDate'"> {{this.arrow}} </span> </th>

     </tr>
     </thead>

     <tbody>
     <tr *ngFor="let rental of rentals.slice(this.skip, this.limit)" routerLink="{{rental?._id}}">
      <th scope="row">{{rentals.indexOf(rental) +1 }}</th>
      <td> {{rental?.car ? (rental?.car.maker | titlecase) : 'n/a'}} {{rental?.car ? (rental.car?.model | titlecase) : ''}} </td>
      <td> {{rental?.customer ? (rental?.customer.name | titlecase) : 'n/a'}} {{rental?.customer ? (rental?.customer.surname | titlecase) : ''}} </td>
      <td> {{rental?.startDate | date :'dd/MM/yyyy'}} </td>
      <td> {{rental?.endDate | date :'dd/MM/yyyy'}} </td>

     </tr>
     </tbody>
</table>
<!-- PAGINATION CONTROLS -->
<div class="d-flex justify-content-between p-2">
     <ngb-pagination [collectionSize]="collectionSize" [(page)]="pag.pageNo" [pageSize]="pag.size" (pageChange)="getRentals()">
     </ngb-pagination>
   
     <select class="custom-select" style="width: auto" [(ngModel)]="pag.size" (ngModelChange)="getRentals()">
       <option [ngValue]="4">4 items per page</option>
       <option [ngValue]="6">6 items per page</option>
     </select>
   
   </div>
