<ng-template #content let-activeModal>

    <div class="modal-header">
        <h4 class="modal-title" id="customer-modal-title"> Add Customer </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">X</span>
        </button>
    </div>

<div class="modal-body">

    <app-customer-form (close)="onClose()"></app-customer-form>
    
</div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)"> Add Customer </button>