<ng-template #content let-activeModal>

        <div class="modal-header">
                <h4 class="modal-title"> Add a new Customer </h4>
                <button type="button" class="close" (click)="activeModal.dismiss()">
                        X
                </button>
        </div>

        <div class="modal-body">

                <form [formGroup]="customerForm" (ngSubmit)="addCustomer()">

                        <!-- MISSING FIELDS ALERT -->
                        <div *ngIf="customerForm.errors?.missingFields" class="alert alert-info">
                                Please fill all fields to enable ADD button
                        </div>

                        <!-- CUSTOMER FORM -->
                        <label> Name :
                                <input type="text" class="form-control" formControlName="name" required>
                        </label>

                        <label> Surname :
                                <input type="text" class="form-control" formControlName="surname" required>
                        </label>

                        <label> Date of Birth :
                                <input type="date" class="form-control" formControlName="birthDate" required>
                        </label>
                        <!-- BIRTH DATE ERROR -->
                        <div *ngIf="customerForm.errors?.minDate && (customerForm.get('birthDate').touched || customerForm.get('birthDate').dirty)"
                                class="alert alert-danger">
                                Birth Date cannot be before 01 / 01 / 1940
                        </div>

                        <label> Driving License :
                                <input type="number" class="form-control" formControlName="drivingLicense" required>
                        </label>

                        <!-- DRIVING LICENSE FORMAT ERROR -->
                        <div *ngIf="(customerForm.get('drivingLicense').errors?.min
                                || customerForm.get('drivingLicense').errors?.max) && (customerForm.get('drivingLicense').touched || customerForm.get('drivingLicense').dirty)"
                                class="alert alert-danger">
                                Driving License number must be between 1 and 9999
                        </div>

                        <label> E-Mail :
                                <input type="email" class="form-control" formControlName="email" required>
                        </label>
                        <!-- EMAIL ERROR -->
                        <div *ngIf="customerForm.get('email').errors?.email" class="alert alert-danger">
                                Please insert a valid E-mail Address
                        </div>




                        <div class="modal-footer">
                                <button type="submit" class="btn btn-primary modal-add" [disabled]=!customerForm.valid>Add
                                        Customer</button>
                        </div>

                </form>
        </div>

</ng-template>

<button class="btn btn-primary open-add" (click)="open(content)"> <b>+</b> Add </button>