<ng-template #content let-activeModal>

        <div class="modal-header">
                <h4 class="modal-title"> Add Customer </h4>
                <button type="button" class="close" (click)="activeModal.dismiss()">
                        X
                </button>
        </div>

        <div class="modal-body">

                <form [formGroup]="customerForm" (ngSubmit)="addCustomer()">

                        <label> Name :
                                <input type="text" class="form-control" formControlName="name" required>
                        </label>

                        <label> Surname :
                                <input type="text" class="form-control" formControlName="surname" required>
                        </label>

                        <label> Date of Birth :
                                <input type="date" class="form-control" formControlName="birthDate" required>
                        </label>

                        <label> Driving License :
                                <input type="number" class="form-control" formControlName="drivingLicense" required>
                        </label>

                        <label> E-Mail :
                                <input type="email" class="form-control" formControlName="email" required>
                        </label>

                        <!-- VALIDATION ALERTS -->

                        <div *ngIf="fieldCheck.name.invalid && (fieldCheck.name.touched || fieldCheck.name.dirty)"
                                class="alert alert-danger">
                                Please fill NAME
                        </div>

                        <div *ngIf="fieldCheck.surname.invalid && (fieldCheck.surname.touched || fieldCheck.surname.dirty)"
                                class="alert alert-danger">
                                Please fill SURNAME
                        </div>

                        <div *ngIf="fieldCheck.birthDate.invalid && (fieldCheck.birthDate.touched || fieldCheck.birthDate.dirty)"
                                class="alert alert-danger">
                                Please fill DATE OF BIRTH
                        </div>

                        <div *ngIf="fieldCheck.drivingLicense.invalid && (fieldCheck.drivingLicense.touched || fieldCheck.drivingLicense.dirty)"
                                class="alert alert-danger">
                                Please fill DRIVING LICENSE
                        </div>    
                       
                        <div *ngIf="fieldCheck.email.invalid && (fieldCheck.email.touched || fieldCheck.email.dirty)"
                                class="alert alert-danger">
                                Please fill E-MAIL
                        </div>

        <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]=!customerForm.valid>Add
                        Customer</button>
        </div>

                </form>
        </div>

</ng-template>

<button class="btn btn-primary" (click)="open(content)"> Add </button>