<form #newCar="ngForm">

<input type="text" id="carName" name="carName" placeholder="Name" required 
    #carName="ngModel" [(ngModel)]="car.name">
<input type="text" id="carModel" name="carModel" placeholder="Model" required 
    #car;odel="ngModel" [(ngModel)]="car.model">
<input type="date" id="carDate" name="carDate" placeholder="1987, 23, 2" required 
    #carDate="ngModel" [(ngModel)]="car.creationDate">
<input type="number" id="carérice" name="carPrice" placeholder="100" required 
    #carPrice="ngModel" [(ngModel)]="car.price">

</form>

<button (click)="addCar()" [disabled]="!newCar.valid">Add</button>
