<ng-template #content let-activeModal>
    
    <div class="modal-header">
        <h4 class="modal-title" id="car-modal-title"> Add Car </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">X</span>
        </button>
    </div>

    <div class="modal-body">
        
    
    <form #newCar="ngForm">

    <input type="text" id="carName" name="carName" placeholder="Name" required 
        #carName="ngModel" [(ngModel)]="car.name">
    
    <input type="text" id="carModel" name="carModel" placeholder="Model" required 
        #car;odel="ngModel" [(ngModel)]="car.model">

    <input type="date" id="carDate" name="carDate" required 
        #carDate="ngModel" [(ngModel)]="car.creationDate">

    <input type="number" id="carPrice" name="carPrice" placeholder="000" required 
        #carPrice="ngModel" [(ngModel)]="car.price">

    </form>

    </div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addCar()" [disabled]="!newCar.valid" >Add</button>
</div>

</ng-template>

<button class="btn btn-primary" (click)="open(content)"> <b>+</b> Add car</button>