<ng-template #content let-activeModal>

    <div class="modal-header">
        <h4 class="modal-title"> Add a new car</h4>
        <button type="button" class="close" (click)="activeModal.dismiss()">
        X
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="carForm" (ngSubmit)="addCar()">

            <label> Maker :
                <input type="text" class="form-control" formControlName="maker" required>
            </label>
        
            <label> Model :
                <input type="text" class="form-control" formControlName="model" required>
            </label>
               
            <label> Price :
                <input type="number" class="form-control" formControlName="price" required>
            </label>
        
            <label> Date :
                <input type="date" class="form-control" formControlName="creationDate" required>  
            </label>

                <!-- VALIDATION ALERTS -->
                <div *ngIf="fieldCheck.maker.invalid && (fieldCheck.maker.touched || fieldCheck.maker.dirty)" class="alert alert-danger">
                    Please fill MAKER
                </div>

                <div *ngIf="fieldCheck.model.invalid && (fieldCheck.model.touched || fieldCheck.model.dirty)" class="alert alert-danger">
                    Please fill MODEL
                </div>

                <div *ngIf="fieldCheck.price.invalid && (fieldCheck.price.touched || fieldCheck.price.dirty)" class="alert alert-danger">
                    Please fill PRICE
                </div>

                <div *ngIf="fieldCheck.creationDate.invalid && (fieldCheck.creationDate.touched || fieldCheck.creationDate.dirty)" class="alert alert-danger">
                    Please fill DATE
                </div>
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]=!carForm.valid>Add Car</button>
    </div>

         </form>
    </div>

</ng-template>

<button class="btn btn-primary" (click)="open(content)"> Add </button>