<ng-template #content let-activeModal>

    <div class="modal-header">
        <h4 class="modal-title" id="car-modal-title"> Add Car </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">X</span>
        </button>
    </div>

<div class="modal-body">

    <app-carform (close)="onClose()"></app-carform>    

</div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)"> Add Car </button>