<ng-template #content let-activeModal>

    <div class="modal-header">
        <h4 class="modal-title"> Add a new car</h4>
        <button type="button" class="close" (click)="activeModal.dismiss()">
            X
        </button>
    </div>


    <div class="modal-body">
        <form [formGroup]="carForm" (ngSubmit)="addCar()">

            <!-- MISSING FIELDS ALERT -->
            <div *ngIf="carForm.errors?.missingFields" class="alert alert-info">
                Please fill all fields to enable ADD button
            </div>

            <div class="modal-entry">
                <label> Maker :
                    <input type="text" class="form-control" formControlName="maker" placeholder="Maker" required>
                </label>
            </div>

            <div class="modal-entry">
                <label> Model :
                    <input type="text" class="form-control" formControlName="model" placeholder="Model" required>
                </label>
            </div>

            <div class="modal-entry">
                <label> Price :
                    <input type="number" class="form-control" formControlName="price" placeholder="1" required>
                </label>
            </div>
            <!-- PRICE ERROR -->
            <div *ngIf="carForm.get('price').errors?.min && (carForm.get('price').touched || carForm.get('price').dirty)"
                class="alert alert-danger">
                PRICE must be at least 1
            </div>

            <div class="modal-entry">
                <label> Date :
                    <input type="date" class="form-control" formControlName="creationDate" required>
                </label>
            </div>
            <!-- DATE ERROR -->
            <div *ngIf="carForm.errors?.minDate && (carForm.get('creationDate').touched || carForm.get('creationDate').dirty)"
                class="alert alert-danger">
                CREATION DATE cannot be lesser than 01/01/1960
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary modal-add" [disabled]=!carForm.valid>Add Car</button>
            </div>

        </form>
    </div>

</ng-template>

<button class="btn btn-primary open-add" (click)="open(content)"> <b>+</b> Add</button>