.titleboard {
    background-color: #FFBC7D;
    width: 100%;
    display: flex;
}

.titleboard a  {
    color: black;
    text-decoration: none;
}

.dashboard {
    flex: 15%;
    border-right: solid 2px grey;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.content {
    padding: 0 2% 0 2%;
    flex: 85%;
    height: 100vh;
}


