<div class="container detail-view">

    <h4><b *ngIf="rental.customer">{{rental.customer.name | titlecase}} {{rental.customer.surname | titlecase}}'s</b> Rental Details
        <button *ngIf="editMode==false" type="button" class="btn btn-secondary edit-detail" (click)="toggleEditing()">EDIT MODE</button>
        <button *ngIf="editMode" type="button" class="btn btn-secondary edit-detail" (click)="toggleEditing()">EDIT MODE</button>

    </h4>

    <table class="table table-striped">
        
        <tbody ng-form="rentalForm">
            <tr>
                <td><b> Customer </b></td>
                <td>{{rental.customer ? (rental.customer.name | titlecase) : 'n/a'}} {{rental.customer ? (rental.customer.surname | titlecase) : ''}}</td>
                <td *ngIf="editMode"> 
                    <select name="customer" [(ngModel)]="editRental.customer" class="form-control">
                        <option value=undefined hidden disabled> Change customer </option>
                        <option *ngFor="let entry of customers" [value]="entry._id">{{entry.name | titlecase}} {{entry.surname | titlecase}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><b>Car</b></td>
                <td>{{rental.car ? (rental.car.maker | titlecase) : 'n/a'}} {{ rental.car ? (rental.car.model | titlecase) : ''}}</td>
                <td *ngIf="editMode">
                    <select name="car" [(ngModel)]="editRental.car" class="form-control">
                        <option value=undefined hidden disabled> Change car</option>
                        <option *ngFor="let entry of cars" [value]="entry._id">{{entry.maker | titlecase}} {{entry.model | titlecase}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><b>Starting Date</b></td>
                <td>{{rental.startDate | date: 'dd / MM / yyyy'}}</td>
                <td *ngIf="editMode">
                    <input type="date" name="startDate" [(ngModel)]="editRental.startDate" class="form-control">
                </td>
            </tr>

            <tr>
                <td><b>Ending Date</b></td>
                <td>{{rental.endDate | date: 'dd / MM / yyyy' }}</td>
                <td *ngIf="editMode">
                    <input type="date" name="endDate" [(ngModel)]="editRental.endDate" min="rental.startDate" class="form-control">
                </td>
            </tr>
   
            <tr>
                <td><b>Price</b></td>
                <td>{{rental.price | currency: 'EUR'}} </td>
                <td *ngIf="editMode">
                    <input type="number" name="price" [(ngModel)]="editRental.price" class="form-control" placeholder="Price">
                </td>
            </tr>
        </tbody>
    </table>
    
    <button *ngIf="editMode" class="btn btn-success confirm-edit" (click)="updateRental()">SAVE CHANGES</button>
    <button *ngIf="editMode==false" type="button" class="btn btn-danger delete-detail" (click)="deleteRental()" routerLink="..">DELETE RENTAL</button>
    <button type="button" class="btn btn-secondary back-detail" (click)="goBack()">BACK</button>

</div>


