<ng-template #content let-activeModal>

    <div class="modal-header">
        <h4 class="modal-title"> Add Rental </h4>
        <button type="button" class="close" (click)="activeModal.dismiss()">
         x
        </button>
    </div>

    <div class="modal-body">
    <div class="container">

        <form [formGroup]="rentalForm" (ngSubmit)="addRental()">

            <label> Car : 
                <select name="car" formControlName="car" required>
                    <option *ngFor="let car of cars" [value]="car._id">{{car.model | titlecase}} {{car.maker | titlecase}}</option>
                </select>
             </label>

             <label> Customer : 
                <select name="customer" formControlName="customer" required>
                    <option *ngFor="let customer of customers" [value]="customer._id">{{customer.name | titlecase}} {{customer.surname | titlecase}}</option>
                </select>
             </label>

             <label> Start Date :
                 <input type="date" formControlName="startDate" required>
             </label>

             <label> End Date :
                 <input type="date" formControlName="endDate" required>
             </label>

             <label> Price :
                 <input type="number" formControlName="price" required>
             </label>

             <!-- VALIDATION ALERTS -->

             <div *ngIf="fieldCheck.car.invalid && fieldCheck.car.touched" class="alert alert-danger">
                Please fill CAR
            </div>

             <div *ngIf="fieldCheck.customer.invalid && fieldCheck.customer.touched" class="alert alert-danger">
                 Please fill CUSTOMER
             </div>

             <div *ngIf="fieldCheck.startDate.invalid && fieldCheck.startDate.touched" class="alert alert-danger">
                 Please fill START DATE
             </div>

             <div *ngIf="fieldCheck.endDate.invalid && fieldCheck.endDate.touched" class="alert alert-danger">
                Please fill END DATE
            </div>

            <div *ngIf="fieldCheck.price.invalid && (fieldCheck.price.touched || fieldCheck.price.dirty)" class="alert alert-danger">
                Please fill PRICE
            </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]=!rentalForm.valid>Add Rental</button>
    </div>

        </form>

    </div>
    </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)"> Add </button>
       