<h2> CARS </h2>

<button type="button" class="btn btn-primary">
  <app-car-modal (close)="getCars()">Add Car</app-car-modal>
</button>

<input type="text" name="search" [(ngModel)]="text" (keyup.enter)="searchCar()"/>

<table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Model</th>
      <th scope="col">Maker</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Price</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let car of cars">
      <th scope="row">{{ (cars.indexOf(car) +1) }}</th>
      <td> {{car.model}} </td>
      <td> {{car.maker}} </td>
      <td> {{car.creationDate | date :'dd / MM / yyyy'}} </td>
      <td> {{car.price}} </td>
    </tr>
    </tbody>
  </table>

<!--    <div class="form-group">
  <select [(ngModel)]="editedCar" class="form-control" name="select">
    <option *ngFor="let car of cars" [ngValue]="car">{{car.model}}</option>
  </select>
  
    <input *ngIf="editedCar" class="form-control" type="text" name="newmodel" 
            id="newmodel" [(ngModel)]="editedCar.model" (keyup.enter)="updateCar()"/>
  </div>
 -->
