<h2> CARS </h2>

<app-car-modal (close)="refreshCars()">Add Car</app-car-modal>
<app-car-search (searchOutput)="searchCar($event)"></app-car-search>
<button *ngIf="searched" type="button" class="btn btn-danger" style="float : right" (click)="this.getCars()">↻</button>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" (click)="sortByModel()">Model <span *ngIf="byModel">{{arrow}}</span></th>
      <th scope="col" (click)="sortByPrice()">Price <span *ngIf="byPrice">{{arrow}}</span></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let car of cars.slice(this.skip, this.limit)"
    routerLink="{{car._id}}">
      <th scope="row">{{ (cars.indexOf(car) +1) }}</th>
      <td> {{car.model | titlecase}} </td>
      <td> {{car.price }} € </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="pagination.pageNo" [pageSize]="pagination.size" (pageChange)="getCars()">
  </ngb-pagination>
<!-- 
  <select class="custom-select" style="width: auto" [(ngModel)]="pagination.size" (ngModelChange)="getCars(this.pagination)">
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="collectionSize">Show All</option>
</select> -->
</div>